<div class="product-editor-container">
  <h2>Edit Product</h2>
  <form #productForm="ngForm" (ngSubmit)="onSubmit(productForm)">
    <mat-form-field appearance="fill" class="form-group">
      <mat-label>Name</mat-label>
      <input matInput type="text" id="name" name="name" required ngModel />
    </mat-form-field>
    <mat-form-field appearance="fill" class="form-group">
      <mat-label>Description</mat-label>
      <input matInput type="text" id="description" name="description" required ngModel />
    </mat-form-field>
    <mat-form-field appearance="fill" class="form-group">
      <mat-label>SKU</mat-label>
      <input matInput type="text" id="sku" name="sku" required ngModel />
    </mat-form-field>
    <mat-form-field appearance="fill" class="form-group">
      <mat-label>Cost</mat-label>
      <input matInput type="number" id="cost" name="cost" required ngModel />
    </mat-form-field>
    <div class="form-group">
      <mat-checkbox id="available" name="available" ngModel>
        Available
      </mat-checkbox>
    </div>
    <mat-form-field appearance="fill" class="form-group">
      <mat-label>Backlog</mat-label>
      <input matInput type="number" id="backlog" name="backlog" ngModel />
    </mat-form-field>
    <div class="custom-properties">
      <label>Custom Properties:</label>
      <div *ngFor="let prop of customProperties; let i = index" class="form-group">
        <mat-form-field appearance="fill" class="form-field-custom">
          <mat-label>Key</mat-label>
          <input matInput type="text" name="key-{{i}}" readonly ngModel />
        </mat-form-field>
        <mat-form-field appearance="fill" class="form-field-custom">
          <mat-label>Value</mat-label>
          <input matInput type="text" name="value-{{i}}" ngModel />
        </mat-form-field>
        <button mat-icon-button color="warn" type="button" (click)="removeProperty(i)">
          <mat-icon>delete</mat-icon>
        </button>
      </div>
      <button mat-raised-button color="primary" type="button" (click)="addProperty()">Add Property</button>
    </div>
    <button mat-raised-button color="primary" type="submit">Save</button>
  </form>
</div>
